<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1>Договор на оказание платных услуг!</h1>
    </header>


    <main>
        <p>Здесь вы можете начать процесс создания нового договора об оказании платных услуг.</p>
        <a href="/Contract/Create">Создать договор</a>
        <p>Смотреть список уже созданных договоров.</p>
        <a href="/ViewResult/ShowAllContracts">Посмотретьв се договоры</a>
       
    </main>

    <footer>
        <p>&copy; 2024 </p>
    </footer>
</body>
</html>
